@import url(https://fonts.google.com/specimen/Open+Sans?query=sans);

.{margin:0 auto;
padding:0;
box-sizing: border-box;
font-family:'open sans', sans-serif;
}


#h3{
    padding:30px;
    color:goldenrod;
    background-color: rgb(53, 5, 5);
    justify-content: center;

}
body{
    background-color: rgb(205, 146, 146);
}

#menunav{

list-style: none; 
padding: 0;
background-color: rgb(122, 1, 1);
justify-content: space-around;
}

#menunav li {
    display: inline;
}

#menunav a{
    color: rgb(242, 238, 238);
    display: inline;
    text-decoration: none;
    padding: 20px;
}